* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Cascadia Code", Consolas, monospace;
  background: #1e1e1e;
  color: #d4d4d4;
}

.window {
  display: flex;
  height: calc(100vh - 22px);
}

/* Activity Bar */
.activity-bar {
  width: 48px;
  background: #333;
}

.activity {
  padding: 12px;
  cursor: pointer;
}

.activity.active {
  background: #007acc;
}

/* Sidebar */
.sidebar {
  width: 240px;
  background: #252526;
}

.sidebar-title {
  font-size: 11px;
  padding: 8px;
  color: #c5c5c5;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 6px 10px;
  cursor: pointer;
}

.sidebar li.active {
  background: #373737;
}

/* Main */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Tabs */
.tabs {
  height: 35px;
  background: #2d2d2d;
  display: flex;
}

.tab {
  padding: 8px 12px;
  border-right: 1px solid #1e1e1e;
  display: flex;
  gap: 6px;
}

.tab.active {
  background: #1e1e1e;
}

/* Editor */
.editor {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.lines {
  background: #1e1e1e;
  padding: 10px;
  text-align: right;
  color: #858585;
  user-select: none;
}

.code {
  padding: 10px;
  white-space: pre;
  overflow: auto;
}

/* Status Bar */
.status-bar {
  height: 22px;
  background: #007acc;
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.code {
  position: relative;
  caret-color: #ffffff;
  outline: none;
}

.code::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 1.2em;
  background: white;
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

.sidebar li.active {
  background: #094771;
  color: white;
}

.keyword { color: #569cd6; }
.string { color: #ce9178; }
.comment { color: #6a9955; }
.key { color: #9cdcfe; }
.md-title { color: #4ec9b0; font-weight: bold; }

.tab {
  display: flex;
  align-items: center;
  gap: 8px;
}

.close {
  color: #888;
  cursor: pointer;
}

.close:hover {
  color: white;
}

.code::-webkit-scrollbar {
  width: 10px;
}

.code::-webkit-scrollbar-track {
  background: #1e1e1e;
}

.code::-webkit-scrollbar-thumb {
  background: #424242;
}

.code::-webkit-scrollbar-thumb:hover {
  background: #4f4f4f;
}


.terminal {
  height: 160px;
  background: #1e1e1e;
  border-top: 1px solid #333;
  font-size: 13px;
}

.terminal-header {
  padding: 4px 10px;
  background: #2d2d2d;
  color: #c5c5c5;
}

.terminal-body {
  padding: 10px;
  color: #cccccc;
  font-family: Consolas, monospace;
}

::selection {
  background: #264f78;
}

cursor: text;
